/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 50px!important;
  font-weight: 300;
  text-align: center;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  /*color: rgba(156, 156, 156, 0.8);*/
  color:red;
  font-size: 24px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.8);
  font-family: 'Mountains of Christmas', cursive;
}
section.module.parallax-1 {
  background-image: url("img/instru.jpg");

}
section.module.parallax-2 {
  background-image: url("img/boules.jpg");
}
section.module.parallax-3 {
  background-image: url("img/3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 21px;
  }
  section.module p {
    font-size: 10px;
  }
  section.module.parallax h1 {
    font-size: 49px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 80px;
  }
} 